body {
  background-color: #1A355B;
  font-family: 'Verdana';
}

.main h1 {
  color: white;
  margin: 10px;
  margin-bottom: 80px;
  font-size: 250%;
}

.main p.pee, .main .pspan, .main p.pee a {
  color: white;
  margin: 5px;
  font-weight: bold;
  font-size: 125%;
  text-decoration: none;
}

.main p.pee a {
  padding-left:20px; 
}

.main p.pee a:hover {
  text-decoration: underline;
}

.btm{
  color: white;
  text-align: center;
  bottom:0px;
  padding: 5px;
  width:99%;
  font-size:50%;
}
